<script>
    function redirectTo(title, code) {
        {% for attr in ['pathname', 'hash', 'href'] %}
          var {{ attr }} = '{{ include[attr] }}'.replace('[BrowserLangName]', title).replace('[BrowserLangCode]', code);
          if({{ attr }} != '' && window.location['{{ attr }}'] != {{ attr }}) {
              window.location['{{ attr }}'] = {{ attr }};
          }        
        {% endfor %}
    }
    var userLang = navigator.language || navigator.userLanguage;
    if(false) '';
    {% for lang in site.languages %}
      else if(userLang.indexOf('{{ lang.code }}') >= 0) redirectTo('{{ lang.title }}', '{{ lang.code }}');
    {% endfor %}
    else redirectTo('English', 'en');
</script>
