<script>
    function redirectTo(title, code) {
      var path = window.location.pathname.replace('[BrowserLangName]', title).replace('[BrowserLangCode]', code);
      if(window.location.pathname != path)
          window.location.pathname = path;
    }
    var userLang = navigator.language || navigator.userLanguage;
    if(false) '';
    {% for lang in site.languages %}
      else if(userLang.indexOf('{{ lang.code }}') >= 0) redirectTo('{{ lang.title }}', '{{ lang.code }}');
    {% endfor %}
    else redirectTo('English', 'en');
</script>
